*{
    margin-top: 0%;
}
.container-fluid{
   background-color: #F7F9F9;
    /* background-color: #26547c; */
    border-bottom: solid brown;
}

.navbar{
    padding: 0px;
    
}

.navbar-collapse{
    flex-wrap: initial;
     justify-content: space-around;

}

.dropdown-menu.show{
   
   border-radius: 0px;
   position:absolute;
   margin-top: 1;
   margin: 31px;
}

.dropdown-menu > li > a {
    color: black;
    
}

 .dropdown-item{
    background-color: transparent;
 }

 .dropdown-item:hover{
    background-color: #FFD166;
 }

 /* modifica texto y el contenido de las letras */
 .nav-link{
    color: black;
    font-size: 20px;
    margin-left: 25px;
 }

 .nav-link:hover{
    color: white;
    background-color: #26547c;
    }


 .containerPresentacion{
    margin-top: 20px;
    text-align: center;
   display: flex;
   justify-content: space-evenly;
 }
 .containerPresentacion > h3{
    margin-top:30px;
    padding: 100px;
 }
 .containerPresentacion > img{
    width: 500px;
    height: 500px;
  
 }
 .containerINFO{
    margin-top: 100px;
    /* background-color: #26547c; */
    margin-left: 100px;
   display:flow-root;
    justify-content: space-around;

 }

 .containerINFO > img{
    
    width: 250px;
    height: 250px;
    background-color:aliceblue;  
}

.carousel-caption{
   position: absolute;
   text-align: left;
   top: 50px;
   background-color: #26547c;
  left: 15px;
}
footer{
 background-color: #26547c;
 
   
}

footer > div > img{
   color: red
}

.containerTitulo{
   background-color: #26547c;
   font-size: 25px;
   color: aliceblue;
   margin-bottom: 100px;
   width: 20%, 80%;
   padding:10px;
   
   display: flex;
   
}
.containerFaqIMG{
   width: 800px;
   height: 400px;
align-items: left;
}
.containerTitulo > h1 > p > img{ 
width: 30px;
height: 30px;
}
 
.containerTitulo > h1{
   text-align: center;
}

/* this is for mision y vision text */
#containerMyv{
   text-align: center;
   margin-top: 20px;
   display: flex;
   font-size:25px;
   padding: 80px;
   width: 30%, 30%;
}

/* this is for mision y vision H3 */
#idMyV{
   font-size: 50px;
  color:#26547c;
}
.containerValores{
   background-color: #26547c;
   display: flex;
   justify-content: space-around;
}

.containerAboutLeaders{
   background-color: #FFD166;
}